*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(228, 228, 222);
  margin: 0px;
  padding: 0px;
  font-family: 'open sans',sans-serif;
}
.wrapper{
  width: 1100px;
  margin: auto;
  position: relative;
}

.lah{
  background-color: rgb(142, 189, 170);
  text-align: center;
  width: 100%;
}

.logo a{
  font-size: 30px;
  font-weight: 800;
  float: left;
  font-family:courier ;
  color: #364f6b;
}
.menu{
  float: right; 
}
nav{
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background: #ffffff;
  z-index: 1;
  border: 1px solid #364f6b;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
}

nav ul li a{
  color: #364f6b;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}
nav ul li a :hover{
  text-decoration: underline;
}

section{
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}
.kolom{
  margin-top: 20px;
  margin-bottom: 20px;
}
.kolom.deskripsi{
  font-size: 20px;
  font-weight: bold;
  font-family: 'comic sans-ms';
  color: #364f6b ;
}
h2{
  font-family: 'comic sans-ms';
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}
a.tbl-pink{
  background: rgb(205, 52, 169);
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
a.tbl-pink:hover{
  background: #364f6b;
  text-decoration: none;
}
p{
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}
.samping{ 
  text-align: center;
  width: 100%;
}

.tengah{
  background-color: rgb(142, 189, 170);
  text-align: center;
  width: 100%;
}
.tutor-list{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.hai{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.kartu-tutor{
  width: 20%;
  margin: 0 auto;
}
.kartu-tutor img{
  width: 80%;
  border-radius: 50%;

}
.kartu-tutor p{
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
}
.kantin-list{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu {
  width: 20%;
  margin: 0 auto;
}
.kartu-kantin{
  width: 20%;
  margin: 0 auto;
}
.kartu-kantin img{
  width: 150px;
  border-radius: 50%;
}

.footer{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.footer-section {
  width: 20%;
  margin: 0 auto;
}
h3{
  font-family:'comic sans ms' ;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

.content2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  background-color: white;
  padding: 0 12%;
}

.card {
  background-color: #f7f8f9;
  transition: 0.3s;
  width: 300px;
  min-height: 350px;
  padding: 32px;
  margin: 81px 0;
  text-align: center;
}

.card:hover {
  background-color: #fbcb7b;
}

.content3 {
  padding: 1% 12% 6% 12%;
  background-color: white;
  display:grid;
  grid-template-columns: 40% 60%;
}

.text2 {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.content4 {
  text-align: center;
  padding: 6% 12%;
}

.content4 p {
  font-size: 18px;
}